.left-nav {
    flex: 1; 
    max-width: 250px; 
    min-width: 180px; 
    background-color: #f1f1f1;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: solid rgba(0, 0, 0, 0.4) 1px;
    display: flex;
    flex-direction: column;
    height: 100%; 
    border-radius: 20px;
    margin: 2em 0; 
}

.logo-container {
    text-align: center;
}

.nav-items {
    list-style-type: none;
    padding: 0;
}

.nav-items li {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-items li.active {
    background-color: #ddd;
    border-radius: 10px;
}

.nav-items li .icon {
    margin-right: 10px;
}

.nav-items li:hover {
    background-color: #eaeaea;
    border-radius: 10px;
}

.icon img {
    width: 24px;
    height: 24px;
}
